<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title 
      style="
      text-align: center; 
      padding-left: 0; 
      padding-right: 48px;"
    >
      Detalles de Inventario
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col size="12" class="center"> 
     <ion-title>Lista de sectores</ion-title>
    </ion-col>
  </ion-row>
  <ion-accordion-group [multiple]="true">
    <ion-accordion *ngFor="let sector of sectorList" [value]="sector.id">
      <ion-item slot="header">
        <ion-label>
          <p>{{ sector.descripcion | titlecase }} ({{ sector?.zonaList.length }})</p>
        </ion-label>
      </ion-item>

      <ion-list slot="content">
        <ng-container *ngFor="let zona of sector?.zonaList">
          <ion-item class="dark2" (click)="onZonaClick(zona)">
            <ion-label>
              <h2>
                {{ zona.descripcion | titlecase }}
              </h2>
            </ion-label>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
