<ion-content>
  <ion-row>
    <ion-col size="2">
      <ion-icon
        name="arrow-back"
        style="font-size: 1.5em"
        (click)="onBack()"
      ></ion-icon>
    </ion-col>
    <ion-col size="8" style="text-align: center">Detalles de Caja</ion-col>
  </ion-row>
  <ion-card *ngIf="selectedCaja !== null" style="margin-top: 10px">
    <ion-grid>
      <ion-row *ngIf="selectedCaja?.id !== null">
        <ion-col size="4"> Id: {{ selectedCaja?.id }} </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          Sucursal: {{ selectedCaja?.sucursal?.nombre | titlecase }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          Responsable: {{ selectedUsuario?.persona?.nombre | titlecase }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          Estado:
          {{
            selectedCaja?.activo === true
              ? 'ABIERTO'
              : selectedCaja?.activo === false
              ? 'CERRADA'
              : ('NUEVA CAJA' | titlecase)
          }}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="selectedCaja?.fechaApertura !== null">
        <ion-col size="12">
          Fecha apertura: {{ selectedCaja?.fechaApertura | date: 'short' }}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="selectedCaja?.fechaCierre !== null">
        <ion-col size="12">
          Fecha apertura: {{ selectedCaja?.fechaCierre | date: 'short' }}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="selectedMaletin!==null">
        <ion-col size="12">
          Maletin: {{ selectedMaletin?.descripcion }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-align-items-center">
          <ion-button
            class="btn-success"
            (click)="verificarMaletin()"
            expand="block"
            [disabled]="
              selectedCaja?.maletin?.id !== undefined
            "
            *ngIf="selectedCaja?.maletin===null && selectedCaja?.sucursal !== null"
          >
            Seleccionar Maletín
          </ion-button>
        </ion-col>
        <ion-col size="12" class="ion-align-items-center">
          <ion-button
            class="btn-success"
            (click)="adicionarConteoApertura()"
            expand="block"
            [disabled]="
              selectedCaja?.id === undefined ||
              selectedCaja?.maletin?.id === undefined ||
              selectedCaja?.conteoApertura !== undefined
            "
            *ngIf="selectedCaja?.conteoApertura === null && selectedCaja?.sucursal !== null"
          >
            Abrir Caja
          </ion-button>
        </ion-col>
        <ion-col size="12" class="ion-align-items-center">
          <ion-button
            class="btn-success"
            (click)="adicionarConteoCierre()"
            expand="block"
            *ngIf="selectedCaja?.conteoApertura !== null && selectedCaja?.conteoCierre === null"
          >
            Cerrar Caja
          </ion-button>
        </ion-col>
        <ion-col size="12" class="ion-align-items-center">
          <ion-button
            class="btn-success"
            (click)="imprimirBalance()"
            expand="block"
            *ngIf="selectedCaja?.conteoApertura !== null && selectedCaja?.conteoCierre !== null"
          >
            Imprimir Balance
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card *ngIf="selectedCaja?.balance !== null">
    <ion-row>
      <ion-col size="12">Diferencia en G$: {{selectedCaja?.balance?.diferenciaGs | number: '1.0-0'}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">Diferencia en R$: {{selectedCaja?.balance?.diferenciaRs | number: '1.0-2'}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">Diferencia en D$: {{selectedCaja?.balance?.diferenciaDs | number: '1.0-2'}}</ion-col>
    </ion-row>
  </ion-card>
</ion-content>
