<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title 
      style="
      text-align: center; 
      padding-left: 0; 
      padding-right: 48px;"
    >
      Gestión de Lugares
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list-header style="text-align: center;">
    <ion-title>Lista de sectores</ion-title>
  </ion-list-header>
  <!-- <ion-item>
    <ion-label></ion-label>
  </ion-item> -->
  <ion-item-group>
    <ion-item
      button
      *ngFor="let sector of sectorList"
      (click)="onClickSector(sector)"
    >
      <ion-label>
        <h3>{{ sector?.descripcion | titlecase }}</h3>
      </ion-label>
      <ion-icon name="chevron-forward-outline" end></ion-icon>
    </ion-item>
    <ion-item>
      <ion-row style="width: 100%">
        <ion-col size="12" style="text-align: center">
          <ion-button fill="clear" color="success" (click)="onNuevoSector()">
            Nuevo Sector
            <ion-icon name="add-circle-outline" slot="end"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-item-group>
</ion-content>
