<ion-content>

<ion-card class="card" [routerLink]="['/mostrar-precio']">
  <ion-card-header>
    <ion-card-title>Visualización de precios</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Visualizar precios mediante código de barras o QR
  </ion-card-content>
</ion-card>

<ion-card class="card" [routerLink]="['/precio-config']">
  <ion-card-header>
    <ion-card-title>Configuración de precios</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Establecer precio de sucursal o servidor
  </ion-card-content>
</ion-card>

</ion-content>
