<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center; padding-left: 47px; padding-right: 0;">Editar Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveProfile()">Guardar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" style="text-align: center;">
    <div class="avatar-container">
      <ion-avatar class="avatar">
        <!-- Add [src] attribute with the user's avatar URL -->
        <img [src]="src === '' ? '/assets/avatar.svg' : src " />
      </ion-avatar>
      <ion-icon class="camera-icon" name="camera" (click)="presentActionSheet()"></ion-icon>
      <div class="nickname">{{ selectedUsuario?.nickname }}</div>
    </div>

    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre Completo</ion-label>
        <ion-input
          type="text"
          [formControl]="fullNameControl"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [formControl]="emailControl"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input type="tel" [formControl]="phoneControl"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Fecha de nacimiento</ion-label>
        <ion-input
          type="date"
          [formControl]="birthDateControl"
          value="{{ birthDateControl?.value | date: 'yyyy-MM-dd' }}"
        ></ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime"></ion-datetime>
  </ng-template>
</ion-modal>
