.producto-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.producto-imagen {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 16px;
}

ion-list {
  width: 100%;
} 