ion-card {
    width: 350px;
}

form {
    display: grid;
    align-items: center;
    justify-content: center;
}

ion-card-header{
    padding-bottom: 0;    
}

ion-card-content{
    padding-left: 0;
    border-radius: 5%;
}

ion-item{
    height: 38px;
}

ion-segment-button{
    color: white;
}