.en-origen-preparacion {
  background-color: #54c5f8 !important;
}

.en-origen-transito {
  background-color: #f57c00 !important;
}

.en-destino-recepcion {
  background-color: #a0435a !important;
}

.en-destino-recepcion-concluida {
  background-color: none !important;
}

.en-origen {
  background-color: #43a047 !important;
}

.item {
  color: white;
}


