<ion-content class="center-content">
  <div style="text-align: center; font-size: large; padding: 20px;">Elegir tipo de marcación</div>

  <ion-card class="card" (click)="onLocalizacion(true)">
    <ion-card-header style="color: white">
      <ion-card-title>Entrada</ion-card-title>
    </ion-card-header>
  </ion-card>
  <!-- <ion-card class="card" (click)="onLocalizacion(false)">
    <ion-card-header style="color: white">
      <ion-card-title>Salida</ion-card-title>
    </ion-card-header>
  </ion-card> -->
</ion-content>
