.totales {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}

.valores {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  margin-top: 5px;
}

.success {
  color: #43a047;
}

.warn {
  color: #f57c00;
}

ion-card {
  color: white;
}
