<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center">Lista de Convenios</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openFilterMenu()">
        <ion-icon name="funnel" style="font-size: 1.5em"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content style="width: 100%">
  <div style="padding-left: 5px; padding-right: 5px">
    <ion-row>
      <ion-col size="8"> Convenios del mes: </ion-col>
      <ion-col size="4" style="text-align: end">
        {{ totalVentaCredito | number: '1.0-0' }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8"> Crédito: </ion-col>
      <ion-col size="4" style="text-align: end">
        {{ selectedCliente?.credito | number: '1.0-0' }} Gs.
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8"> Utilizado: </ion-col>
      <ion-col size="4" style="text-align: end">
        {{ totalAbiertos | number: '1.0-0' }} Gs.
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8"> Saldo: </ion-col>
      <ion-col size="4" style="text-align: end">
        {{ selectedCliente?.saldo | number: '1.0-0' }} Gs.
      </ion-col>
    </ion-row>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card
          class="item"
          *ngFor="let ventaCredito of ventaCreditoList"
          (click)="onItemClick(ventaCredito)"
        >
          <div>
            <ion-grid>
              <ion-row>
                <ion-col size="6">Venta: {{ ventaCredito.venta.id }}</ion-col>
                <ion-col size="6"
                  >Fecha: {{ ventaCredito.creadoEn | date: 'short' }}</ion-col
                >
              </ion-row>
              <ion-row>
                <ion-col size="12"
                  >Sucursal:
                  {{ ventaCredito.sucursal.nombre | titlecase }}</ion-col
                >
              </ion-row>
              <ion-row>
                <ion-col size="12"
                  >Cajero:
                  {{
                    ventaCredito.venta.usuario.persona.nombre | titlecase
                  }}</ion-col
                >
              </ion-row>
              <ion-row>
                <ion-col size="12"
                  >Confirmación:
                  {{ ventaCredito.tipoConfirmacion | titlecase }}</ion-col
                >
              </ion-row>
              <ion-row>
                <ion-col size="12"
                  >Estado: {{ ventaCredito.estado | titlecase }}</ion-col
                >
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <div class="totales">Total</div>
                  <div class="valores success">
                    Gs. {{ ventaCredito.valorTotal | number: '1.0-0' }}
                  </div>
                </ion-col>
              </ion-row>
              <ion-row style="width: 100%">
                <ion-col size="12" class="center">
                  <ion-button
                    fill="clear"
                    class="btn-success-flat"
                    (click)="openVentaDetalle(ventaCredito.venta)"
                    >VER DETALLE</ion-button
                  >
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ng-container *ngIf="ventaCreditoList?.length > 0">
    <app-paginacion
      [pageData]="selectedPageInfo"
      [pageIndex]="pageIndex"
      (pageChange)="handlePagination($event)"
    ></app-paginacion>
  </ng-container>
</ion-footer>
