<ion-content style="width: 100%">
  <ion-row>
    <ion-col size="2">
      <ion-icon
        name="arrow-back"
        style="font-size: 1.5em"
        (click)="onBack()"
      ></ion-icon>
    </ion-col>
    <ion-col size="8" style="text-align: center">Recpción de notas</ion-col>
    <ion-col size="2" style="text-align: center">
      <!-- <ion-icon
        name="funnel"
        style="font-size: 1.5em"
        (click)="openFilterMenu()"
      ></ion-icon> -->
    </ion-col>
  </ion-row>
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        style="text-align: center; font-size: medium; color: rgb(187, 187, 187)"
      >
        Sucural en recepción
      </ion-col>
      <ion-col size="12" style="text-align: center">
        {{ selectedSucursal?.nombre | titlecase }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item style="align-items: center">
          <ion-label position="floating">Proveedor</ion-label>
          <ion-input
            #proveedorInput
            [formControl]="buscarProveedorControl"
            autocapitalize="on"
          ></ion-input>

          <ion-button
            fill="clear"
            slot="end"
            (click)="onSearchProveeodr()"
            [disabled]="numeroNotaControl.value == null"
          >
            <ion-icon name="search-outline" slot="end" size="large"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item style="align-items: center">
          <ion-label position="floating">Número de nota</ion-label>
          <ion-input
            #numeroNotaInput
            [formControl]="numeroNotaControl"
            autocapitalize="on"
          ></ion-input>

          <ion-button
            fill="clear"
            slot="end"
            (click)="onAddNumeroNota()"
            [disabled]="numeroNotaControl.value == null"
          >
            <ion-icon name="add-outline" slot="end" size="large"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="ion-align-items-center">
        <ion-button
          class="btn-success"
          (click)="onSolicitarPago()"
          expand="block"
        >
          Solicitar Pago
        </ion-button>
      </ion-col>
    </ion-row>
    <!-- <ion-list [inset]="true">
      <ion-item *ngFor="let nota of notaRecepcionList">
        <ion-label>{{nota.numero}}</ion-label>
      </ion-item>
    </ion-list> -->
  </ion-grid>
</ion-content>
