<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title 
      style="
      text-align: center; 
      padding-left: 0; 
      padding-right: 48px;"
    >
      {{ data?.titulo | titlecase }}    
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-row *ngIf="data?.search">
    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Buscar</ion-label>
        <ion-input
          #buscarInput
          [formControl]="buscarControl"
          autocapitalize="on"
          (keyup.enter)="onBuscarClick()"
        ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="buscarControl.valid">
    <ion-col size="12" style="text-align: center">
      <ion-button
        class="btn-success-flat"
        fill="clear"
        (click)="onBuscarClick()"
        >Buscar</ion-button
      >
    </ion-col>
  </ion-row>
    <ng-container *ngFor="let item of itemList">
      <ion-card (click)="onItemClick(item)">
        <ion-grid>
          <ion-row *ngFor="let info of data.tableData" wrap>
            <ng-container *ngIf="!info.nested">
              <ion-col [size]="info.width" style="min-width: 0; height: auto;">
                <div class="ion-text-wrap" style="width: 100%; overflow-wrap: break-word;">
                  {{ info.nombre }}: {{ item[info?.id] }}
                </div>
              </ion-col>
            </ng-container>
            <ng-container *ngIf="info.nested">
              <ion-col [size]="info.width" style="min-width: 0; height: auto;">
                <div class="ion-text-wrap" style="width: 100%; overflow-wrap: break-word;">
                  {{ info.nombre }}:
                  {{ item[info?.id][info?.nestedId] }}
                </div>
              </ion-col>
            </ng-container>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ng-container>
  <ng-container *ngIf="this.data?.paginator">
    <pagination-controls
      (pageChange)="onPageChange($event)"
      autoHide="true"
      previousLabel="Anterior"
      nextLabel="Próximo"
      [maxSize]="selectedPageInfo?.getTotalPages"
    >
    </pagination-controls>
  </ng-container>
</ion-content>
