<ion-content fullscreen>
  <ion-row style="padding-top: 5px">
    <ion-col size="2">
      <ion-icon
        name="arrow-back"
        style="font-size: 1.5em"
        (click)="onBack()"
      ></ion-icon>
    </ion-col>
    <ion-col size="10">
      <ion-label>{{ data?.titulo | titlecase }}</ion-label>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="data?.search">
    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Buscar</ion-label>
        <ion-input
          #buscarInput
          [formControl]="buscarControl"
          autocapitalize="on"
          (keyup.enter)="onBuscarClick()"
        ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="buscarControl.valid">
    <ion-col size="12" style="text-align: center">
      <ion-button
        class="btn-success-flat"
        fill="clear"
        (click)="onBuscarClick()"
        >Buscar</ion-button
      >
    </ion-col>
  </ion-row>
  <ion-list>
    <ng-container *ngFor="let item of itemList">
      <ion-card (click)="onItemClick(item)">
        <ion-grid>
          <ion-row>
            <ion-col
              *ngFor="let info of data.tableData"
              [size]="info.width || 12"
            >
              <ng-container
                *ngIf="!info.orientation || info.orientation === 'horizontal'"
              >
                <span
                  [style.color]="info.titleColor || '#f57c00'"
                  [style.font-size]="info.titleFontSize"
                  >{{ info.nombre }}:
                </span>
                <span
                  [style.color]="info.valueColor"
                  [style.font-size]="info.valueFontSize"
                  >{{ item | cellFormat : info }}</span
                >
              </ng-container>
              <ng-container *ngIf="info.orientation === 'vertical'">
                <div>
                  <span
                    [style.color]="info.titleColor || '#f57c00'"
                    [style.font-size]="info.titleFontSize"
                    >{{ info.nombre }}:</span
                  >
                </div>
                <div>
                  <span
                    [style.color]="info.valueColor"
                    [style.font-size]="info.valueFontSize"
                    >{{ item | cellFormat : info }}</span
                  >
                </div>
              </ng-container>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ng-container>
  </ion-list>
  <ng-container *ngIf="this.data?.paginator">
    <pagination-controls
      (pageChange)="onPageChange($event)"
      autoHide="true"
      previousLabel="Anterior"
      nextLabel="Próximo"
      [maxSize]="selectedPageInfo?.getTotalPages"
    >
    </pagination-controls>
  </ng-container>
</ion-content>
