<ion-content>
  <ion-card class="card" [routerLink]="['historico-nota-recepcion']">
    <ion-card-header style="color: white">
      <ion-card-title>Historico de recepción</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="card" [routerLink]="['recibir-nota-recepcion']">
    <ion-card-header style="color: white">
      <ion-card-title>Recibir notas</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="card" (click)="onScanQr()">
    <ion-card-header style="color: white">
      <ion-card-title>
        <ion-icon name="camera-outline" style="font-size: 1.2em; vertical-align: middle; margin-right: 8px;"></ion-icon>
        Escanear recepción
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
