.new-background-color{
  --background: #f44336 !important;
}

:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}

.contact-popover .popover-content{ width: 320px; }

.online {
  --background: #43a047;
}

.offline {
  --background: #f44336;
}
