<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar
        translucent
        [class.online]="online"
        [class.offline]="!online"
      >
        <ion-row class="ion-align-items-center">
          <ion-col size="6">
            <ion-title>Menu</ion-title>
          </ion-col>
          <ion-col size="6" [class.online]="online" [class.offline]="!online">
            {{ online ? 'Online' : 'Offline' }}
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-header>
    <ion-content
      *ngIf="loginService?.usuarioActual?.id !== null"
      style="background-color: rgb(32, 32, 32)"
    >
      <ion-list>
        <ion-item
          (click)="onAvatarClick()"
          [hidden]="loginService.usuarioActual === null"
          style="text-align: center"
        >
          <ion-avatar>
            <img alt="" [src]="'/assets/avatar.svg'" />
          </ion-avatar>
          <ion-label
            >{{ loginService.usuarioActual?.persona?.id }} -
            {{
              loginService.usuarioActual?.persona?.nombre | titlecase
            }}</ion-label
          >
        </ion-item>
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header">
              <ion-icon name="person-outline" slot="start"></ion-icon>
              <ion-label>Mi cuenta</ion-label>
            </ion-item>
            <ion-item
              slot="content"
              (click)="closeMenu()"
              style="padding-left: 10%"
              [routerLink]="['/informaciones-personales']"
            >
              <ion-icon name="id-card-outline" slot="start"></ion-icon>
              <ion-label>Informaciones personales</ion-label>
            </ion-item>
            <ion-item
              slot="content"
              [routerLink]="['/mis-finanzas']"
              (click)="closeMenu()"
              style="padding-left: 10%"
            >
              <ion-icon name="wallet-outline" slot="start"></ion-icon>
              <ion-label>Mis finanzas</ion-label>
            </ion-item>
          </ion-accordion>
        </ion-accordion-group>
        <ion-item [routerLink]="['/producto']" (click)="closeMenu()">
          <ion-icon name="beer-outline" slot="start"></ion-icon>
          <ion-label>Producto</ion-label>
        </ion-item>
        <ion-item
          *ngIf="loginService.usuarioActual?.roles?.includes('VER INVENTARIO')"
          [routerLink]="['/inventario']"
          (click)="closeMenu()"
        >
          <ion-icon name="newspaper-outline" slot="start"></ion-icon>
          <ion-label>Inventario</ion-label>
        </ion-item>
        <!--<ion-item [routerLink]="['/scanner']" (click)="closeMenu()">
          <ion-icon name="clipboard" slot="start"></ion-icon>
          <ion-label>Scanner</ion-label>
        </ion-item> -->
        <ion-item
          *ngIf="
            loginService.usuarioActual?.roles?.includes('VER TRANSFERENCIA')
          "
          [routerLink]="['/transferencias']"
          (click)="closeMenu()"
        >
          <ion-icon name="git-compare-outline" slot="start"></ion-icon>
          <ion-label>Transferencia</ion-label>
        </ion-item>

        <ion-item
          *ngIf="
            loginService.usuarioActual?.roles?.includes('RECIBIR PEDIDOS')
          "
          [routerLink]="['/pedidos']"
          (click)="closeMenu()"
        >
          <ion-icon name="git-compare-outline" slot="start"></ion-icon>
          <ion-label>Pedidos</ion-label>
        </ion-item>

        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header">
              <ion-icon name="barbell-outline" slot="start"></ion-icon>
              <ion-label>Operaciones</ion-label>
            </ion-item>
            <ion-item
              slot="content"
              [routerLink]="['/operaciones/caja']"
              (click)="closeMenu()"
              style="padding-left: 10%"
            >
              <ion-icon name="cash-outline" slot="start"></ion-icon>
              <ion-label>Caja</ion-label>
            </ion-item>
          </ion-accordion>
        </ion-accordion-group>
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header">
              <ion-icon name="settings-outline" slot="start"></ion-icon>
              <ion-label>Configuración</ion-label>
            </ion-item>
            <ion-item
              slot="content"
              (click)="onIpChange(); closeMenu()"
              style="padding-left: 10%"
            >
              <ion-icon name="globe-outline" slot="start"></ion-icon>
              <ion-label>Configuración del servidor</ion-label>
            </ion-item>
          </ion-accordion>
        </ion-accordion-group>

        <ion-item [routerLink]="['/marcacion']" (click)="closeMenu()">
          <ion-icon name="checkbox-outline" slot="start"></ion-icon>
          <ion-label>Marcar horario</ion-label>
        </ion-item>

        <ion-item (click)="onSalir()">
          <ion-icon name="exit" slot="start"></ion-icon>
          <ion-label>Salir</ion-label>
        </ion-item>
        <!-- <ion-item>
          <ion-icon name="heart" slot="start"></ion-icon>
          <ion-label>Favorites</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="archive" slot="start"></ion-icon>
          <ion-label>Archived</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="trash" slot="start"></ion-icon>
          <ion-label>Trash</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="warning" slot="start"></ion-icon>
          <ion-label>Spam</ion-label>
        </ion-item> -->
      </ion-list>
    </ion-content>
    <div style="width: 100%; text-align: center">
      Versión actual: {{ currentVersion }}
    </div>
    <br />
  </ion-menu>

  <div class="ion-page" id="main-content" style="height: 100%">
    <ion-header>
      <!-- <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-icon name="refresh" slot="start"></ion-icon>
        </ion-buttons>
        <ion-title>BODEGA FRANCO</ion-title>
      </ion-toolbar> -->
      <ion-toolbar class="new-background-color">
        <ion-buttons slot="start">
          <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="primary">
          <ion-button>
            <ion-icon
              [hidden]="true"
              slot="icon-only"
              ios="ellipsis-horizontal"
              md="ellipsis-vertical"
            ></ion-icon>
          </ion-button>
        </ion-buttons>

        <!-- <ion-title style="text-align: center">BODEGA FRANCO</ion-title> -->
        <ion-row>
          <ion-col size="12" class="center">
            <img
              [src]="isFarma ? '/assets/logof.png' : '/assets/logo.png'"
              alt=""
              style="width: auto; max-height: 45px; object-fit: contain"
            />
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>
</ion-app>
