<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar
        translucent
        [class.online]="online"
        [class.offline]="!online"
      >
        <ion-row class="ion-align-items-center">
          <ion-col size="6">
            <ion-title>Menu</ion-title>
          </ion-col>
          <ion-col size="6" [class.online]="online" [class.offline]="!online">
            {{ online ? 'Online' : 'Offline' }}
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-header>
    <ion-content *ngIf="loginService?.usuarioActual?.id !== null">
      <ion-list>
        <ion-item [hidden]="loginService.usuarioActual === null">
          <ion-label>{{
            loginService.usuarioActual?.persona?.nombre | uppercase
          }}</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/producto']" (click)="closeMenu()">
          <ion-icon name="clipboard" slot="start"></ion-icon>
          <ion-label>Producto</ion-label>
        </ion-item>
        <ion-item *ngIf="loginService.usuarioActual?.roles?.includes('VER INVENTARIO')" [routerLink]="['/inventario']" (click)="closeMenu()">
          <ion-icon name="clipboard" slot="start"></ion-icon>
          <ion-label>Inventario</ion-label>
        </ion-item>
        <!--<ion-item [routerLink]="['/scanner']" (click)="closeMenu()">
          <ion-icon name="clipboard" slot="start"></ion-icon>
          <ion-label>Scanner</ion-label>
        </ion-item> -->
        <ion-item *ngIf="loginService.usuarioActual?.roles?.includes('VER TRANSFERENCIA')"  [routerLink]="['/transferencias']" (click)="closeMenu()">
          <ion-icon name="clipboard" slot="start"></ion-icon>
          <ion-label>Transferencia</ion-label>
        </ion-item>
        <ion-item (click)="onSalir()">
          <ion-icon name="exit" slot="start"></ion-icon>
          <ion-label>Salir</ion-label>
        </ion-item>
        <!-- <ion-item>
          <ion-icon name="heart" slot="start"></ion-icon>
          <ion-label>Favorites</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="archive" slot="start"></ion-icon>
          <ion-label>Archived</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="trash" slot="start"></ion-icon>
          <ion-label>Trash</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="warning" slot="start"></ion-icon>
          <ion-label>Spam</ion-label>
        </ion-item> -->
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content" style="height: 100%;">
    <ion-header>
      <!-- <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-icon name="refresh" slot="start"></ion-icon>
        </ion-buttons>
        <ion-title>BODEGA FRANCO</ion-title>
      </ion-toolbar> -->
      <ion-toolbar class="new-background-color">
        <ion-buttons slot="start">
          <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="primary">
          <ion-button >
            <ion-icon
              [hidden]="true"
              slot="icon-only"
              ios="ellipsis-horizontal"
              md="ellipsis-vertical"
            ></ion-icon>
          </ion-button>
        </ion-buttons>

        <!-- <ion-title style="text-align: center">BODEGA FRANCO</ion-title> -->
        <ion-row>
          <ion-col size="12" class="center">
            <img src="/assets/logo.png" alt="" style="width: auto; max-height: 45px; object-fit: contain;">
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>
</ion-app>

