.new-background-color{
  --background: #f44336 !important;
}

.contact-popover .popover-content{ width: 320px; }

.online {
  --background: #43a047;
}

.offline {
  --background: #f44336;
}

.title {
  text-align: start;
  color: #f57c00;
}

.item {
  text-align: start;
}

ion-menu {
  --width: 100vw;
}

ion-accordion {
  background-color: rgb(30, 30, 30);
}
