<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon
        slot="icon-only"
        name="arrow-back"
        style="font-size: 1.5em; color: white"
      ></ion-icon>
      </ion-button> 
    </ion-buttons>
    <ion-title class="center" style="padding-left: 0; padding-right: 48px;">
        Stock por Sucursal
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-grid>
  <ion-content>
  <ion-row>
    <ion-col auto class="ion-text-center" style="font-size: medium">
      {{ selectedProducto?.descripcion | titlecase }}
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let sps of stockPorSucursalList" style="padding: 5px">
    <ion-col size="10">
      {{ sps.sucursal?.nombre }}
    </ion-col>
    <ion-col
      *ngIf="sps?.stock === undefined"
      size="2"
      (click)="onVerStock(sps.sucursal)"
    >
      <ion-text text-end style="font-size: 90%" class="btn-success-flat">
        Ver
      </ion-text>
    </ion-col>
    <ion-col *ngIf="sps?.stock !== undefined" size="2">
      {{ sps?.stock }}
    </ion-col>
  </ion-row>
</ion-content>
</ion-grid>
