<!-- <ion-content style="top: 40%; bottom: 60%;">
  <ion-button expand="block">Scanear QR</ion-button>
  <ion-button expand="block">Scanear QR</ion-button>
  <ion-button expand="block">Scanear QR</ion-button>
</ion-content> -->
<ion-content>
  <ion-card class="card" [routerLink]="['nueva']">
    <ion-card-header style="color: white">
      <ion-card-title>Nueva transferencia</ion-card-title>
    </ion-card-header>
    <ion-card-content style="color: white">
      Crear una nueva transferencia
    </ion-card-content>
  </ion-card>

  <ion-card class="card" [routerLink]="['list']">
    <ion-card-header style="color: white">
      <ion-card-title>Lista de tranferencias</ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white">
      Lista de transferencias en las cuales estas participando
    </ion-card-content>
  </ion-card>

  <ion-card class="card" (click)="onScanQr()">
    <ion-card-header style="color: white">
      <ion-card-title>Scanear QR</ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white">
      Solicite al encargado el código QR de la transferencia
    </ion-card-content>
  </ion-card>

  <ion-card class="card" (click)="ingresarCodigo()">
    <ion-card-header style="color: white">
      <ion-card-title>Ingresar código</ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: white">
      Solicite al encargado el código de la transferencia
    </ion-card-content>
  </ion-card>
</ion-content>
