<ion-header>
  <ion-toolbar>
    <ion-title>Añadir gasto rendido</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="montos-section">
    <ion-note class="section-label">Montos</ion-note>

    <div class="monto-row" *ngFor="let item of montosItems; let last = last">
      <div class="monto-fields">
        <div class="monto-field monto-field--moneda">
          <app-selector-generico etiqueta="Moneda" placeholder="Moneda"
            [opciones]="solicitudService.opcionesMoneda" [valor]="item.monedaId"
            (valorChange)="alCambiarMoneda(item, $event)"></app-selector-generico>
        </div>
        <div class="monto-field monto-field--monto">
          <ion-item class="dark2 monto-input-item" lines="full">
            <ion-label position="stacked">Monto</ion-label>
            <ion-input type="text" inputmode="decimal" placeholder="0"
              [(ngModel)]="item.montoTexto" (ngModelChange)="alCambiarMontoTexto(item, $event)"
              (ionBlur)="alPerderFocoMonto(item)"></ion-input>
          </ion-item>
        </div>
      </div>
      <div class="monto-actions">
        <ion-button *ngIf="last" fill="clear" class="btn-add" (click)="agregarMonto()">
          <ion-icon slot="icon-only" name="add-circle"></ion-icon>
        </ion-button>
        <ion-button *ngIf="!last && montosItems.length > 1" fill="clear" class="btn-remove"
          (click)="quitarMonto(item.id)">
          <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>

  <ng-container *ngIf="esCombustible">
    <ion-item class="dark2 campo-item">
      <ion-label position="stacked">Km actual</ion-label>
      <ion-input type="number" [(ngModel)]="kmActual"></ion-input>
    </ion-item>
    <ion-item class="dark2 campo-item">
      <ion-label position="stacked">Litros</ion-label>
      <ion-input type="number" [(ngModel)]="litros"></ion-input>
    </ion-item>
    <ion-item class="dark2 campo-item">
      <ion-label position="stacked">Precio por litro</ion-label>
      <ion-input type="number" [(ngModel)]="precioPorLitro"></ion-input>
    </ion-item>
  </ng-container>

  <ng-container *ngIf="esAlimentacion">
    <ion-item class="dark2 campo-item">
      <ion-label position="stacked">Establecimiento</ion-label>
      <ion-input [(ngModel)]="establecimientoAlimentacion"></ion-input>
    </ion-item>
  </ng-container>

  <ion-item class="dark2 campo-item">
    <ion-label position="stacked">Tienda</ion-label>
    <ion-input [(ngModel)]="ubicacionProvisoria"></ion-input>
  </ion-item>

  <div class="fotos">
    <div class="foto-section">
      <ion-note class="section-label">Factura / comprobante</ion-note>
      <div class="foto-grid" *ngIf="fotosFacturaItems.length">
        <div class="foto-item" *ngFor="let foto of fotosFacturaItems">
          <img [src]="foto.url" class="preview" alt="Factura" />
          <ion-button fill="clear" class="btn-remove-foto" (click)="quitarFoto('factura', foto.id)">
            <ion-icon slot="icon-only" name="close-circle"></ion-icon>
          </ion-button>
        </div>
      </div>
      <ion-button expand="block" fill="outline" (click)="capturarFoto('factura')">
        <ion-icon slot="start" name="camera-outline"></ion-icon>
        {{ fotosFacturaItems.length ? 'Agregar otra foto' : 'Foto factura/comprobante' }}
      </ion-button>
    </div>

    <div class="foto-section">
      <ion-note class="section-label">Producto</ion-note>
      <div class="foto-grid" *ngIf="fotosProductoItems.length">
        <div class="foto-item" *ngFor="let foto of fotosProductoItems">
          <img [src]="foto.url" class="preview" alt="Producto" />
          <ion-button fill="clear" class="btn-remove-foto" (click)="quitarFoto('producto', foto.id)">
            <ion-icon slot="icon-only" name="close-circle"></ion-icon>
          </ion-button>
        </div>
      </div>
      <ion-button expand="block" fill="outline" (click)="capturarFoto('producto')">
        <ion-icon slot="start" name="image-outline"></ion-icon>
        {{ fotosProductoItems.length ? 'Agregar otra foto' : 'Foto del producto' }}
      </ion-button>
    </div>
  </div>

  <ion-button expand="block" color="primary" class="btn-guardar" [disabled]="guardando" (click)="guardar()">
    Guardar rendición
  </ion-button>
</ion-content>
