<ion-content>
  <ion-row class="ion-align-items-center">
    <ion-col size="2">
      <ion-icon name="arrow-back" style="font-size: 2em" (click)="onBack()"></ion-icon>
    </ion-col>
    <ion-col size="6" style="text-align: center">Detalles de transferencia</ion-col>
    <ion-col size="2" style="text-align: center">
      <ion-icon name="create-outline" style="font-size: 2em" (click)="onEdit()"></ion-icon>
    </ion-col>
    <ion-col size="2" style="text-align: center">
      <ion-icon name="share-social-outline" style="font-size: 2em" (click)="onShare()"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-card *ngIf="selectedTransferencia !== null" style="margin-top: 10px">
    <ion-grid>
      <ion-row>
        <ion-col size="6"> Id: {{ selectedTransferencia?.id }} </ion-col>
        <ion-col size="6">
          Fecha: {{ selectedTransferencia?.creadoEn | date : 'short' }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          {{ selectedTransferencia?.sucursalOrigen?.nombre | titlecase }}
        </ion-col>
        <ion-col size="2">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
        <ion-col size="5">
          {{ selectedTransferencia?.sucursalDestino?.nombre | titlecase }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10">
          Estado: {{ selectedTransferencia?.estado }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12"> Etapa: {{ selectedTransferencia?.etapa }} </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          Responsable: {{ selectedResponsable?.persona?.nombre | titlecase }}
        </ion-col>
      </ion-row>
      <ion-row>
        <!-- <ion-col size="2"></ion-col> -->
        <ion-col size="12" class="ion-align-items-center">
          <ion-button *ngIf="
              isPreTransferenciaOrigen &&
              selectedTransferencia?.usuarioPreparacion === null
            " class="btn-success" (click)="onAvanzarEtapa('PREPARACION_MERCADERIA')" expand="block">
            Preparar productos
          </ion-button>
          <ion-button *ngIf="isPreparacionMercaderia && puedeEditar" class="btn-success"
            (click)="onAvanzarEtapa('PREPARACION_MERCADERIA_CONCLUIDA')" expand="block"
            [disabled]="!isAllConfirmedPreparacion">
            Concluir
          </ion-button>
          <ion-button *ngIf="isPreparacionMercaderiaConcluida" class="btn-success"
            (click)="onAvanzarEtapa('TRANSPORTE_VERIFICACION')" expand="block">
            Verificar para transporte
          </ion-button>
          <ion-button *ngIf="isTransporteVerificacion && puedeEditar" class="btn-success"
            (click)="onAvanzarEtapa('TRANSPORTE_EN_CAMINO')" expand="block" [disabled]="!isAllConfirmedTransporte">
            Concluir
          </ion-button>
          <ion-button *ngIf="isTransporteEnCamino || isTransporteEnDestino" class="btn-success"
            (click)="onAvanzarEtapa('RECEPCION_EN_VERIFICACION')" expand="block">
            Iniciar recepción
          </ion-button>
          <ion-button *ngIf="isRecepcionEnVerificacion && puedeEditar" class="btn-success"
            (click)="onAvanzarEtapa('RECEPCION_CONCLUIDA')" expand="block" [disabled]="!isAllConfirmedRecepcion">
            Concluir
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-row>
    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Nombre o Código de Barra</ion-label>
        <ion-input #buscarInput [formControl]="buscarControl" autocapitalize="on" (keyup.enter)="onBuscarClick()"
          (focusin)="onBuscarFocus()"></ion-input>
        <ion-icon style="font-size: 2em; padding-top: 5px" name="camera-outline" slot="end"
          (click)="onCameraClick()"></ion-icon>
        <!-- <ion-icon
          style="font-size: 2em; padding-top: 5px"
          name="filter-outline"
          slot="end"
          (click)="onSelectFilter()"
        ></ion-icon> -->
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="center">
      <ion-button class="btn-warn-flat" fill="clear" (click)="onCargarMenos()" expand="block"
        *ngIf="selectedPageInfo?.hasPrevious">
        MENOS
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-list *ngIf="
      selectedTransferencia?.etapa === 'PRE_TRANSFERENCIA_ORIGEN' ||
      selectedTransferencia?.etapa === 'PREPARACION_MERCADERIA'
    ">
    <ion-item *ngFor="let item of filteredTransferenciaItemList; let i3 = index"
      (press)="puedeEditar ? onItemPress(item) : null">
      <ion-avatar slot="start" (click)="
          onAvatarClick(item?.presentacionPreTransferencia?.imagenPrincipal)
        ">
        <img [src]="item?.presentacionPreTransferencia?.imagenPrincipal" />
      </ion-avatar>
      <ion-label>
        <h2>
          {{
          i3 +
          1 +
          selectedPageInfo?.getPageable?.getPageSize *
          selectedPageInfo?.getPageable?.getPageNumber
          }}
          -
          {{
          item?.presentacionPreTransferencia?.producto?.descripcion
          | titlecase
          }}
        </h2>
        <ion-row>
          <ion-col size="10">
            <h3>
              Presentacion:
              <!-- <ion-content *ngIf="item?.presentacionPreparacion?.cantidad === null"> -->
              <span *ngIf="item.presentacionPreTransferencia.cantidad !== item.presentacionPreparacion?.cantidad"
                [class.tachado]="item?.presentacionPreparacion !== null">
                {{
                item?.presentacionPreTransferencia?.cantidad
                | number : '1.0-2'
                }}
              </span>

              {{ item?.presentacionPreparacion?.cantidad | number : '1.0-2' }}
            </h3>
            <h3>
              Cantidad:
              <span *ngIf="item.cantidadPreTransferencia !== item.cantidadPreparacion"
                [class.tachado]="item.cantidadPreparacion !== null">
                {{ item.cantidadPreTransferencia | number : '1.0-2' }}
              </span>

              {{ item.cantidadPreparacion | number : '1.0-2' }}
            </h3>
            <h3>
              Vencimiento:
              <span *ngIf="item.vencimientoPreparacion !== item.vencimientoPreTransferencia"
                [class.tachado]="item?.vencimientoPreparacion !== null">
                {{ item?.vencimientoPreTransferencia| date : 'shortDate' }}
              </span>
              {{ item?.vencimientoPreparacion | date : 'shortDate' }}
              {{
              item?.motivoModificacionPreparacion === 'VENCIMIENTO_INCORRECTO'
              ? ' - ' + (item?.vencimientoPreparacion | date : 'shortDate')
              : null
              }}
            </h3>
            <h3 *ngIf="item.motivoModificacionPreparacion !== null">
              Item Modificado
            </h3>
            <h3 *ngIf="item.motivoRechazoPreparacion !== null">
              Item Rechazado
            </h3>
          </ion-col>
          <ion-col size="2">
            <ion-icon (click)="puedeEditar ? onItemPress(item) : null" [name]="
                item.motivoRechazoPreparacion === null
                  ? 'checkmark-circle'
                  : 'close'
              " style="font-size: 2em" [class.sin-cambios]="
                item.cantidadPreparacion !== null &&
                item.motivoModificacionPreparacion === null &&
                item.motivoRechazoPreparacion === null &&
                !isPreparacionEnCamino
              " [class.con-cambios]="
                item.motivoModificacionPreparacion !== null &&
                !isPreparacionEnCamino
              " [class.rechazado]="
                item.motivoRechazoPreparacion !== null && !isPreparacionEnCamino
              "></ion-icon>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="
      isPreparacionMercaderiaConcluida ||
      isTransporteVerificacion ||
      isTransporteEnCamino
    ">
    <ion-item *ngFor="let item of filteredTransferenciaItemList; let i1 = index"
      (press)="puedeEditar ? onItemPress(item) : null">
      <ion-avatar slot="start" (click)="
          onAvatarClick(item?.presentacionPreTransferencia?.imagenPrincipal)
        ">
        <img [src]="item?.presentacionPreTransferencia?.imagenPrincipal" />
      </ion-avatar>
      <ion-label>
        <h2>
          {{
          i1 +
          1 +
          selectedPageInfo?.getPageable?.getPageSize *
          selectedPageInfo?.getPageable?.getPageNumber
          }}
          -
          {{ item?.presentacionPreparacion?.producto?.descripcion | titlecase }}
        </h2>
        <ion-row>
          <ion-col size="10">
            <h3>
              Presentacion:
              <span *ngIf=" item?.presentacionPreparacion?.cantidad !==  item?.presentacionTransporte?.cantidad"
                [class.tachado]="item?.presentacionTransporte !== null">
                {{
                item?.presentacionPreparacion?.cantidad
                | number : '1.0-2'
                }}
              </span>
              {{ item?.presentacionTransporte?.cantidad | number : '1.0-2' }}
            </h3>
            <h3>Cantidad:
              <span *ngIf=" item?.cantidadTransporte !==  item?.cantidadPreparacion"
                [class.tachado]="item?.cantidadTransporte!== null">
                {{
                item?.cantidadPreparacion
                | number : '1.0-2'
                }}
              </span>
              {{ item.cantidadTransporte | number : '1.0-2' }}
            </h3>
            <h3>
              Vencimiento:
              <span *ngIf="item.vencimientoTransporte !== item.vencimientoPreparacion"
                [class.tachado]="item?.vencimientoTransporte !== null">
                {{ item?.vencimientoPreparacion | date : 'shortDate' }}
              </span>
              {{ item.vencimientoTransporte | date : 'shortDate' }}
            </h3>

          </ion-col>
          <ion-col size="2">
            <ion-icon (click)="puedeEditar ? onItemPress(item) : null" [name]="
                item.motivoRechazoTransporte === null
                  ? 'checkmark-circle'
                  : 'close'
              " style="font-size: 2em" [class.sin-cambios]="
                item.cantidadTransporte !== null &&
                item.motivoModificacionTransporte === null &&
                item.motivoRechazoTransporte === null &&
                !isTransporteEnCamino
              " [class.con-cambios]="
                item.motivoModificacionTransporte !== null &&
                !isTransporteEnCamino
              " [class.rechazado]="
                item.motivoRechazoTransporte !== null && !isTransporteEnCamino
              "></ion-icon>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="
      selectedTransferencia?.etapa === 'RECEPCION_EN_VERIFICACION' ||
      selectedTransferencia?.etapa === 'RECEPCION_CONCLUIDA'
    ">
    <ion-item *ngFor="let item of filteredTransferenciaItemList; let i2 = index"
      (press)="puedeEditar ? onItemPress(item) : null">
      <ion-avatar slot="start" (click)="
          onAvatarClick(item?.presentacionPreTransferencia?.imagenPrincipal)
        ">
        <img [src]="item?.presentacionTransporte?.imagenPrincipal" />
      </ion-avatar>
      <ion-label>
        <h2>
          {{
          i2 +
          1 +
          selectedPageInfo?.getPageable?.getPageSize *
          selectedPageInfo?.getPageable?.getPageNumber
          }}
          -
          {{ item?.presentacionTransporte?.producto?.descripcion | titlecase }}
        </h2>
        <ion-row>
          <ion-col size="10">
            <h3>
              Presentacion:
              <span *ngIf=" item?.presentacionRecepcion?.cantidad !==  item?.presentacionTransporte?.cantidad"
                [class.tachado]="item?.presentacionRecepcion !== null">
                {{
                item?.presentacionTransporte?.cantidad
                | number : '1.0-2'
                }}
              </span>
              {{ item?.presentacionRecepcion?.cantidad | number : '1.0-2' }}
            </h3>
            <h3>
              Cantidad:
              <span *ngIf=" item?.cantidadTransporte !==  item?.cantidadRecepcion"
                [class.tachado]="item?.cantidadRecepcion!== null">
                {{
                item?.cantidadTransporte
                | number : '1.0-2'
                }}
              </span>
              {{ item.cantidadRecepcion | number : '1.0-2' }}
            </h3>
            <h3>
              Vencimiento:
              <span *ngIf="item.vencimientoTransporte !== item.vencimientoRecepcion"
                [class.tachado]="item?.vencimientoRecepcion !== null">
                {{ item?.vencimientoTransporte | date : 'shortDate' }}
              </span>
              {{ item.vencimientoRecepcion | date : 'shortDate' }}
            </h3>
            <h3 *ngIf="item.motivoModificacionRecepcion !== null">
              Item modificado
            </h3>
            <h3 *ngIf="item.motivoRechazoRecepcion !== null">
              Item rechazado
            </h3>
          </ion-col>
          <ion-col size="2">
            <ion-icon (click)="puedeEditar ? onItemPress(item) : null" [name]="
                item.motivoRechazoRecepcion === null
                  ? 'checkmark-circle'
                  : 'close'
              " style="font-size: 2em" [class.sin-cambios]="
                item.cantidadRecepcion !== null &&
                item.motivoModificacionRecepcion === null &&
                item.motivoRechazoRecepcion === null &&
                !isRecepcionEnCamino
              " [class.con-cambios]="
                item.motivoModificacionRecepcion !== null &&
                !isRecepcionEnCamino
              " [class.rechazado]="
                item.motivoRechazoRecepcion !== null && !isRecepcionEnCamino
              "></ion-icon>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col class="center">
      <ion-button class="btn-success-flat" fill="clear" (click)="onCargarMas()" expand="block"
        *ngIf="selectedPageInfo?.hasNext">
        MÁS
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- <ion-item>
    <ion-row class="dark2">
      <ion-col class="center">
        <ion-button
          class="btn-success-flat"
          fill="clear"
          (click)="onCargarMenos()"
          expand="block"
          *ngIf="filteredTransferenciaItemList?.length > 0"
          [disabled]="
            filteredTransferenciaItemList.length > size
          "
        >
          Menos
        </ion-button>
      </ion-col>
      <ion-col class="center">
        <ion-button
          class="btn-success-flat"
          fill="clear"
          (click)="onCargarMas()"
          expand="block"
          *ngIf="filteredTransferenciaItemList?.length > 0"
        >
          Cargar más
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-item> -->
</ion-content>