ion-item {
  --border-color: #f44336;
  --highlight-color-focused: #f44336;
}

ion-list {
  min-width: 285px;
  margin-right: 0px;
  padding: 0px;
}

ion-label p {
  color: white;
}

img {
  width: 70px;
  margin-right: 10px;
  border-radius: 50%;
  transition: color 0.3s ease, transform 0.3s ease;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.desc {
  white-space: normal;
  word-break: break-word;
  width: 100%;
  margin-bottom: 0px;
}

.chip-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0px;
}

.noProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  text-align: center;

  ion-icon {
    color: #666 !important;
  }

  p {
    color: #666;
    font-size: x-large;
  }
}