<ion-grid [hidden]="selectedItem===null" style="overflow-y: scroll; width: 100%;" >
  <ion-row>
    <ion-col style="width: 100%; text-align: center"
      >Lista de productos</ion-col
    >
  </ion-row>
  <ion-row *ngFor="let item of inventarioService?.selectedInventario?.inventarioProductoList; let i = index">
    <ion-card style="background-color: rgb(36, 36, 36); width: 100%;" (click)="onSelectItem(item)">
      <ion-grid>
        <ion-row>
          <ion-col>{{i+1}}-{{item?.producto?.descripcion | uppercase}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">ID: {{item?.producto?.id}}</ion-col>
          <ion-col size="8">Cod: 1287394837389
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-row>
</ion-grid>
<!-- inventarioService?.selectedInventario?.inventarioProductoList -->
<!-- invProd?.inventarioProductoItemList -->
