<ion-content style="width: 100%; overflow-y: hidden;">
  <ion-row>
    <ion-col size="2">
      <ion-icon
        name="arrow-back"
        style="font-size: 1.5em"
        (click)="onBack()"
      ></ion-icon>
    </ion-col>
    <ion-col size="8" style="text-align: center">Recpción de notas</ion-col>
    <ion-col size="2" style="text-align: center">
      <!-- <ion-icon
        name="funnel"
        style="font-size: 1.5em"
        (click)="openFilterMenu()"
      ></ion-icon> -->
    </ion-col>
  </ion-row>
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        style="text-align: center; font-size: medium; color: rgb(187, 187, 187)"
      >
        Sucural en recepción
      </ion-col>
      <ion-col size="12" style="text-align: center">
        {{ selectedSucursal?.nombre | titlecase }}
      </ion-col>
    </ion-row>
    <ion-row *ngIf="selectedProveedor != null">
      <ion-col
        size="12"
        style="text-align: center; font-size: medium; color: rgb(187, 187, 187)"
      >
        Proveedor
      </ion-col>
      <ion-row style="width: 100%; align-items: center">
        <ion-col size="2"></ion-col>
        <ion-col size="8" style="text-align: center">{{
          selectedProveedor?.persona?.nombre | uppercase
        }}</ion-col>
        <ion-col size="2">
          <ion-icon
            name="close-outline"
            size="large"
            (click)="onBorrarProveedor()"
            style="color: #f44336 !important"
          ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-row>
    <ion-row>
      <ion-col size="12" *ngIf="selectedProveedor == null">
        <ion-item style="align-items: center">
          <ion-label position="floating">Proveedor</ion-label>
          <ion-input
            #proveedorInput
            [formControl]="buscarProveedorControl"
            autocapitalize="on"
            (keydown.enter)="onSearchProveeodr()"
          ></ion-input>

          <ion-button fill="clear" slot="end" (click)="onSearchProveeodr()">
            <ion-icon name="search-outline" slot="end" size="large"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item style="align-items: center">
          <ion-label position="floating">Número de nota</ion-label>
          <ion-input
            #numeroNotaInput
            [formControl]="numeroNotaControl"
            autocapitalize="on"
          ></ion-input>

          <ion-button
            fill="clear"
            slot="end"
            (click)="onAddNumeroNota()"
            [disabled]="numeroNotaControl.value == null"
          >
            <ion-icon name="add-outline" slot="end" size="large"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="selectedProveedor != null">
      <ion-col size="12" style="text-align: center; font-size: small">
        Cantidad de notas: {{ notaRecepcionList?.length || 0 }}
      </ion-col>
    </ion-row>
    <ion-list *ngIf="notaRecepcionList?.length > 0">
      <ion-item-group>
        <ion-item
          *ngFor="let nota of notaRecepcionList; let i = index"
          (click)="onNotaRecepcionClick(nota, i)"
        >
          <ion-col size="12">
            <ion-row style="align-items: center">
              <ion-col size="5" class="title">Número</ion-col>
              <ion-col size="5" class="title">Valor</ion-col>
              <ion-col size="2" class="title"></ion-col>
            </ion-row>
            <ion-row style="align-items: center">
              <ion-col size="5">{{ nota.numero | number : '1.0-0' }}</ion-col>
              <ion-col size="5">{{ nota.valor | number : '1.0-2' }}</ion-col>
              <ion-col size="2"
                ><ion-icon
                  name="close-outline"
                  size="large"
                  (click)="
                    delelteNotaFromList(nota, i); $event.stopPropagation()
                  "
                  style="color: #f44336 !important"
                ></ion-icon
              ></ion-col>
            </ion-row>
          </ion-col>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col size="12" class="ion-align-items-center">
      <ion-button
        class="btn-success"
        (click)="onIniciarRecepcion()"
        expand="block"
        [disabled]="selectedProveedor == null || notaRecepcionList?.length < 1"
      >
        Iniciar recepción
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
