<ion-content>
  <ion-row>
    <ion-col size="12" class="title"> Cambiar contraseña </ion-col>
    <ion-col size="12">
      <p>Cree una contraseña cómoda y segura que sea diferente a 123</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Nueva contraseña</ion-label>
        <ion-input
          [formControl]="password1Control"
          [type]="showPassword1 ? 'text' : 'password'"
          (keyup.enter)="onLogin()"
        ></ion-input>
        <ion-icon
          style="padding-top: 5px"
          (click)="showPassword1 = !showPassword1"
          [name]="showPassword1 ? 'eye-off' : 'eye'"
          slot="end"
        ></ion-icon>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Nueva contraseña</ion-label>
        <ion-input
          [formControl]="password2Control"
          [type]="showPassword2 ? 'text' : 'password'"
        ></ion-input>
        <ion-icon
          style="padding-top: 5px"
          (click)="showPassword2 = !showPassword2"
          [name]="showPassword2 ? 'eye-off' : 'eye'"
          slot="end"
        ></ion-icon>
      </ion-item>
      <div style="color: red; padding-top: 0.2rem" *ngIf="isError">
        Las contraseñas no coinciden
      </div>
    </ion-col>
  </ion-row>
  <ion-item-divider></ion-item-divider>
  <ion-row>
    <ion-col size="6" class="center">
      <ion-button fill="clear" class="btn-danger-flat" (click)="onCancel()"
        >Cancelar</ion-button
      >
    </ion-col>
    <ion-col size="6" class="center">
      <ion-button
        fill="clear"
        class="btn-success-flat"
        (click)="onAceptar()"
        [disabled]="formGroup.invalid || isError"
        >Aceptar</ion-button
      >
    </ion-col>
  </ion-row>
</ion-content>
