<ion-content>
  <ion-header>
    <ion-row style="align-items: center">
      <ion-col size="2">
        <ion-icon name="arrow-back" style="font-size: 1.5em" (click)="onBack()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-header>
  <ion-row>
    <ion-col size="12" class="title center" style="padding: 10px">Producto</ion-col>
    <ion-col size="12" class="center">{{ selectedItem?.producto?.id }} -
      {{ selectedItem?.producto?.descripcion }}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="8" class="title ">
      Cant. a recibir:
    </ion-col>
    <ion-col size="4" style="text-align: end;">
      {{ selectedItem?.totalCantidadARecibirPorUnidad / presentacionControl.value?.cantidad | number : '1.0-2' }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="8" class="title ">
      Cant. recibida:
    </ion-col>
    <ion-col size="4" style="text-align: end;">
      {{ (selectedItem?.totalCantidadRecibidaPorUnidad + nuevaCantidadRecibida || 0) / presentacionControl.value?.cantidad | number : '1.0-2' }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="8" class="title ">
      Falta:
    </ion-col>
    <ion-col size="4" style="text-align: end;">
      {{ (selectedItem?.totalCantidadARecibirPorUnidad - (selectedItem?.totalCantidadRecibidaPorUnidad + nuevaCantidadRecibida || 0)) /
      presentacionControl.value?.cantidad | number : '1.0-2' }}
    </ion-col>
  </ion-row>
  <ion-row>
    <span style="width: 100%;text-align: center; font-size: 12px; color: #666;">Las cantidades se muestran por
      presentación</span>
  </ion-row>
  <ion-card style="background-color: #252525;" *ngIf="data.notaRecepcionAgrupada.estado == 'EN_RECEPCION'">
    <ion-card-content>
      <ion-row>
        <ion-col size="12" class="title center" style="padding: 10px">Presentacion</ion-col>
        <ion-col size="12" class="center">
          <ion-item>
            <ion-select style="width: 100%; text-align: center" [formControl]="presentacionControl">
              <ion-select-option *ngFor="let presentacion of selectedItem?.producto?.presentaciones"
                [value]="presentacion" style="font-size: larger">
                {{ presentacion?.cantidad | number : '1.0-2' }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="title center" style="padding: 10px">Cantidad por presentación</ion-col>
        <ion-col size="12" class="center">
          <ion-item style="text-align: center">
            <ion-input #cantidadInput type="number" [formControl]="cantidadControl" value="{{ cantidadControl.value }}"
              (focusin)="onSelectCantidadInput()" (contextmenu)="$event.preventDefault()" style="font-size: larger">
            </ion-input>
            <!-- <ion-button fill="clear" slot="end" aria-label="Clear" style="text-align: center; padding-right: 5px;"> -->
            <a (click)="cantidadControl.setValue(null)">
              <ion-icon slot="end" name="close-outline"></ion-icon>
            </a>
            <!-- </ion-button> -->
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="title center" style="padding: 10px">Cantidad por unidad</ion-col>
        <ion-col size="12" class="center">
          <ion-item style="text-align: center">
            <ion-input #cantidadInput type="number" [formControl]="cantidadPorUnidadControl"
              value="{{ cantidadPorUnidadControl.value }}" [readonly]="true">
            </ion-input>
            <a>
              <ion-icon slot="end"></ion-icon>
            </a>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button (click)="onAdicionarRecepcion()" expand="block" fill="clear" [disabled]="!cantidadControl.value">
            Agregar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-row *ngIf="data.notaRecepcionAgrupada.estado == 'EN_RECEPCION'">
    <ion-col size="12" class="center" style="padding: 10px">
      Lista de itens
    </ion-col>
  </ion-row>
  <ion-list *ngIf="itemRecepcionList.length > 0">
    <ion-item *ngFor="let itemRecepcion of itemRecepcionList">
      <ion-row style="align-items: center; width: 100%;">
        <ion-col size="4">
          <ion-row>
            <ion-col size="12" class="title center">
              <span>Presentación</span>
            </ion-col>
            <ion-col size="12" class="center">
              <span>{{ itemRecepcion.presentacion.cantidad | number : '1.0-2' }}</span>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="4">
          <ion-row>
            <ion-col size="12" class="title center">
              <span>Cantidad</span>
            </ion-col>
            <ion-col size="12" class="center">
              <span>{{ itemRecepcion.cantidad | number : '1.0-2' }}</span>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="4" class="center" style="display: flex; justify-content: center; align-items: center;">
          <ion-button fill="clear" (click)="onEdit(itemRecepcion)" style="font-size: large; margin-right: 8px;">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="onDelete(itemRecepcion)" color="danger" style="font-size: large;">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="12" class="center">
      <ion-button expand="block" (click)="onGuardar()" class="btn-success" [disabled]="itemRecepcionList?.length === 0">Guardar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>