/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode variables go here */
    --ion-color-primary: #006600;
  }
}

:root {
  // --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
  background-color: black;
}


.btn-success {
  --background: #43a047;
}

.btn-warn {
  --background: #f57c00;
}
.btn-danger {
  --background: #f44336;
}

.dark1 {
  --background: #252525;
}

.dark2 {
  --background: #333333;
}

.dark3 {
  --background: #424242;
}

.btn-success-flat {
  color: #43a047;
}

.btn-warn-flat {
  color: #f57c00;
}
.btn-danger-flat {
  color: #f44336;
}

.icon-success {
  --background: #43a047;
}

.icon-warn {
  --background: #f57c00;
}
.icon-danger {
  --background: #f44336;
}

.action-menu {
  text-align: center;
}

.popover-sm {
	--width: 40vw;
}

.popover-md {
	--width: 60vw;
}

.popover-xs {
	--width: 95vw;
}

.title {
  text-align: start;
  color: #f57c00;
}

.item {
  text-align: start;
}

.center {
  text-align: center;
}

.estado-abierto {
  --background: #43a047;
  color: white !important;
}

.estado-concluido {
  --background: none !important;
}
.estado-cancelado {
  --background: #f44336;
  color: white;
}

.white {
  color: white !important;
}

:root {
  --ion-background-color: #000000;
  --ion-text-color: #ffffff;
  --ion-color-primary: #3880ff;
  --ion-color-secondary: #0cd1e8;
  --ion-color-tertiary: #7044ff;
  --ion-color-success: #10dc60;
  --ion-color-warning: #ffce00;
  --ion-color-danger: #f04141;
  --ion-color-dark: #222428;
  --ion-color-medium: #989aa2;
  --ion-color-light: #f4f5f8;
}

body.dark {
  --ion-background-color: #000000;
  --ion-text-color: #ffffff;
  --ion-color-primary: #3880ff;
  --ion-color-secondary: #0cd1e8;
  --ion-color-tertiary: #7044ff;
  --ion-color-success: #10dc60;
  --ion-color-warning: #ffce00;
  --ion-color-danger: #f04141;
  --ion-color-dark: #222428;
  --ion-color-medium: #989aa2;
  --ion-color-light: #f4f5f8;
}

ion-icon {
  color: white !important;
}

ion-card-title {
  color: white !important;
}

ion-loading.my-loading-class {
  .loading-wrapper {
    background: black;
    box-shadow: none;
    color: white;
    max-width: fit-content;
  }
  .loading-content {
    color: white !important;
  }
}

.custom-modal-large {
  --width: 90%;
  --height: 80%;
  --border-radius: 12px;
  --max-height: 70%;
  --margin: 0 auto;
  --box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.custom-modal-large .modal-wrapper {
  width: var(--width);
  height: var(--height);
  max-height: var(--max-height);
  margin: var(--margin);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.custom-modal-medium {
  --width: 90%;
  --height: 50%;
  --border-radius: 12px;
  --max-height: 70%;
  --margin: 0 auto;
  --box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.custom-modal-medium .modal-wrapper {
  width: var(--width);
  height: var(--height);
  max-height: var(--max-height);
  margin: var(--margin);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.custom-modal {
  --width: 90%;
  --height: auto;
  --border-radius: 12px;
  --max-height: 70%;
  --margin: 0 auto;
  --box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.custom-modal .modal-wrapper {
  width: var(--width);
  height: var(--height);
  max-height: var(--max-height);
  margin: var(--margin);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--box-shadow);
}


.dialog-title {
  text-align: center;
  color: rgb(187, 187, 187);
  font-size: small;
}

ion-action-sheet.cancelar-btn {
  --color: #f44336;
}

ion-spinner{
  color: white !important;
}

ion-item.item-has-focus ion-label { 
  color: #fff !important;
  /* Elige el color que prefieras */
}

zxing-scanner video {
  /* Tus estilos aquí */
  border: 3px solid red; /* Ejemplo de borde */
  border-radius: 8px; 
  max-width: 400px; /* Ajusta el tamaño según lo necesites */
}

.action-sheet-selected.sc-ion-action-sheet-md {
  color: #f44336 !important;
}
.action-sheet-button.sc-ion-action-sheet-md {
  color: white;
  display: grid;
  justify-content: center;
}

.myCalendar-class {
  --ion-color-primary: #f44336;
  --ion-background-color: #000000; 
}

.myCalendar-class .month-title {
  color: #ffffff !important; 
  display: flex !important;
  justify-content: center !important;
}

.myCalendar-class .days-btn p {
  color: #ffffff !important;  
}

.myCalendar-class .days-btn.today.on-selected p {
  color: white !important;
}

.myCalendar-class .days-btn.today p {
  color: #f44336 !important;
}

.myCalendar-class .days-btn.today {
  border: 1px solid #f44336 !important;
}

.myCalendar-class .days.between p {
  color: white !important;
}

.myCalendar-class .days.endSelection p {
  color: white !important;
}


.myCalendar-class .md.title-default.hydrated {
  display: grid;
  justify-content: center;
} 