.pagination-container {
  margin-top: 10px;
  text-align: center;

  ion-button {
    --border-radius: 8px;
    margin: 0 4px;
  }

  ion-button[disabled] {
    opacity: 0.5;
  }
}

.pagination-wrapper {
  flex-wrap: nowrap;
  overflow-x: visible !important;
  overflow-y: hidden;

}
