ion-content {
    height: 100%;
    margin: 0;
    display: flex;
    padding-top: 0;
}

img {
    width: 20em;
    border-radius: 50%;
    margin-bottom: 5px;
}

ion-fab {
    margin-left: 270px;
    margin-top: 9px;
}

ion-fab-button::part(native) {
    background-color: #f44336;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  }
  
  ion-fab-button::part(native):hover::after {
    background-color: #a3e681;
  }
  
  ion-fab-button::part(native):active::after {
    background-color: #87d361;
  }
ion-item {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    --border-color: #f44336;
    --highlight-color-focused: #f44336;
}

h1 {
    text-align: center;
    font-weight: bold;
}

ion-card {
    flex: 1 1 calc(22.22% - 10px);
    min-width: 110px;
    max-width: 250px;
    margin: 0;
    border-radius: 5%;
    background: rgb(19, 19, 19);
    background: linear-gradient(90deg, rgba(19, 19, 19, 1) 0%, rgb(0, 0, 0) 35%, rgb(24, 24, 24) 100%);  
}

ion-card-header,
ion-card-content {
    text-align: center;
    color: #fff;
}

span {
    font-size: 12px;
    margin-left: 11px;
    color: rgb(255, 255, 255);
}

form {
    display: block;
    flex-direction: column;
    align-items: center;
}

ion-item ion-select {
    width: 70%;
}

ion-segment {
    width: auto;
}

ion-segment-button {
    min-width: 55px;
    --indicator-color: #f44336;
    --indicator-height: 3px;
    --color-checked: var(--indicator-color);
}

.spacing {
    margin-top: 9px;
    padding-bottom: 5px;
}

.container {
    display: flex;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    justify-content: center;
}

.few-items {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Centra vertical y horizontalmente */
}

.presentaciones-container {
    flex: 1;
    max-width: 60%;
    overflow-y: auto;
    padding: 10px;
}

.flex {
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
}

@keyframes resplandorMovimiento {
    0% {
        box-shadow: 0 0 10px 5px rgba(255, 8, 0, 0.8);
    }

    50% {
        box-shadow: 0 0 20px 10px rgba(255, 8, 0, 0.6);
    }

    100% {
        box-shadow: 0 0 10px 5px rgba(255, 8, 0, 0.8);
    }
}

.resplandor {
    box-shadow: 0 0 10px 5px rgba(255, 8, 0, 0.8);
    border: 2px solid rgb(255, 42, 0);
    animation: resplandorMovimiento 1.5s infinite ease-in-out;
}

.camMode {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100%;
}

.camView {
    flex: 1;
    max-width: 35%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag-icon {
    width: 30px;
    height: 30px;
    margin-right: 0;
}

// ! Segunda versi칩n con cards m치s grandes ! //

@media screen and (max-width: 800px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        row-gap: 1rem;
        column-gap: 1rem;
        padding-left: 0;
    }

    .few-items, .one-item {
        display: flex;
        padding-left: 0;
        justify-content: center;
    }

    .spacing {
        margin-bottom: 2px;
        margin-top: 2px;
        padding-bottom: 2px;
    }

    h1{
        font-size: 36px;
        margin-top: 0px;
    }
    h2 {
        font-size: 28px;
        margin-top: 12px;
        margin-bottom: 5px;
    }

    .container.one-item ion-card{
        width: 700px;
        min-height: 170px;
        height: 495px;
    }
    .container.one-item h1{
        margin-top: 5px;
    }
    .container.one-item h2{
        font-size: 35px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .container.one-item img{
        margin-top: 0px;
        width: 300px;
    }
    .container.few-items ion-card{
        max-width: 310px;
        min-height: 170px;
        height: 380px;
}
 
    .container.few-items h2{
        font-size: 28px;
        margin-bottom: 15px;
        margin-top: 15px;
}
    ion-card {
        max-width: 360px;
        min-height: 170px;
        height: 350px;
        align-items: center;
        border-radius: 5%;
        background: rgb(19, 19, 19);
        background: linear-gradient(90deg, rgba(19, 19, 19, 1) 0%, rgb(0, 0, 0) 35%, rgb(24, 24, 24) 100%);
    }

    // img {
    //     margin-top: 15px;
    // }

    ion-card-header {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        row-gap: 1rem;
        column-gap: 1rem;
        padding-left: 0;
    }

    .few-items {
        display: flex;
        padding-left: 0;
        justify-content: center;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 0;
    }

    ion-card {
        max-width: 290px;
        max-height: 350px;
        align-items: center;
        border-radius: 5%;
        background: rgb(19, 19, 19);
        background: linear-gradient(90deg, rgba(19, 19, 19, 1) 0%, rgb(0, 0, 0) 35%, rgb(24, 24, 24) 100%);
    }

    img {
        margin-top: 5px;
    }

    ion-card-header {
        padding-top: 0;
        padding-bottom: 0;
    }
}

// ! Para el modo c치mara

@media screen and (min-width: 1024px) {
    .presentaciones-container {
        max-width: 100%;
        padding-top: 0px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        min-width: 750px;

        .container {
            grid-template-columns: repeat(2, 1fr);
            display: grid;
            row-gap: 1rem;
            column-gap: 1rem;
            padding-left: 0;
        }

        .few-items {
            display: flex;
            padding-left: 0;
            justify-content: center;
        }
        
        h2 {
            font-size: 24px;
            margin-bottom: 0;
        }

        ion-card {
            max-width: 290px;
            min-height: 150px;
            align-items: center;
            border-radius: 5%;
            background: rgb(19, 19, 19);
            background: linear-gradient(90deg, rgba(19, 19, 19, 1) 0%, rgb(0, 0, 0) 35%, rgb(24, 24, 24) 100%);
        }

        img {
            margin-top: 5px;
        }

        ion-card-header {
            padding-top: 0;
            padding-bottom: 0;
        }

        .container.four-items {
            grid-template-columns: repeat(2, 1fr);
            display: grid;
        }
    
        .container.more-than-four-items {
            grid-template-columns: repeat(2, 1fr);
            display: grid;
        }
    
        .container.four-items ion-card,
        .container.more-than-four-items ion-card {
            min-width: 150px;
            /* Tama침o reducido */
            min-height: 125px;
        }
        .container.four-items h2,
        .container.more-than-four-items h2 {
            font-size: 19px;
        }
        .container.four-items img,
        .container.more-than-four-items img {
            width: 115px;
            height: 115px;
        }

    }
}

